@keyframes jump {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes changeColor {
  0% {
    color: aqua;
  }
  25% {
    color: burlywood;
  }
  50% {
    color: pink;
  }
  75% {
    color: chartreuse;
  }
  90% {
    color: darkorange;
  }
  100% {
    color: aqua;
  }
}
@keyframes changeBackground {
  0% {
    background-color: aqua;
  }
  25% {
    background-color: burlywood;
  }
  50% {
    background-color: pink;
  }
  75% {
    background-color: chartreuse;
  }
  90% {
    background-color: darkorange;
  }
  100% {
    background-color: aqua;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: rgba(5, 5, 5, 0.6);
  z-index: 100;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.main-nav .fa-solid {
  position: absolute;
  display: block;
  right: 5%;
  top: 50%;
  transform: translate(-10%, -50%);
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.main-nav .logo {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.main-nav .logo span {
  color: black;
  animation: changeColor 5s linear infinite;
}
.main-nav .fa-brands {
  display: none;
  margin: 0px 20px;
  top: 50%;
  transform: translateY(-50%);
  animation: jump 2s linear infinite;
}
.main-nav .fa-github {
  position: absolute;
  right: 15%;
  color: black;
}
.main-nav .fa-codepen {
  position: absolute;
  right: 10%;
  color: white;
}
.main-nav .fa-linkedin-in {
  position: absolute;
  right: 5%;
  color: rgb(161, 187, 236);
}
.main-nav .nav-to-section {
  display: none;
  position: relative;
  margin: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-to-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.nav-to-section:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav .mobile-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 1000;
  transition: transform 0.5s;
}
nav .mobile-nav .logo {
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
nav .mobile-nav .logo span {
  color: rgb(255, 255, 255);
  animation: changeColor 5s linear infinite;
}
nav .mobile-nav .fa-brands {
  font-size: 24px;
  margin: 30px auto;
  animation: jump 2s linear infinite;
}
nav .mobile-nav .fa-github {
  color: black;
}
nav .mobile-nav .fa-codepen {
  color: white;
}
nav .mobile-nav .fa-linkedin-in {
  color: rgb(161, 187, 236);
}
nav .mobile-nav .mobile-nav-to-section {
  position: relative;
  margin: 30px auto;
  padding: 10px 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav .mobile-nav .fa-xmark {
  font-size: 42px;
  cursor: pointer;
  color: black;
}
nav .nav-active {
  transform: translateX(0);
}
nav .mobile-nav-to-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
nav .mobile-nav-to-section:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header {
  position: relative;
  height: 100vh;
}
header .left {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .left h1 {
  margin: 20px;
  text-align: center;
}
header .left h1 span {
  animation: changeColor 5s linear infinite;
}
header .left p {
  margin: 20px;
  font-size: 18px;
}
header .left a {
  margin-top: 200px;
  animation: jump 2s linear infinite;
  font-size: 36px;
  color: black;
  cursor: pointer;
}
header .right {
  position: absolute;
  height: 100%;
  width: 50vw;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/img/hd-wallpaper-gf16d1696e_640.jpg);
  background-size: cover;
  background-position: center;
}
header .right ul {
  margin: 20px;
  list-style: none;
}
header .right li {
  font-size: 18px;
}
header .right li span {
  font-weight: 700;
  font-size: 22px;
}
header .right .a {
  align-self: flex-end;
}
header .right .b {
  align-self: center;
}
header .right .c {
  align-self: flex-start;
}

.header {
  position: relative;
  width: 100vw;
  margin: 20px auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
.header .shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.header h2 {
  margin: 30px auto;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
  animation: changeColor 5s linear infinite;
}
.header .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100vw;
  background-color: #ff0000;
}
.header .upline {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100vw;
  background-color: #09ff00;
}

.skills {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}
.skills .skills-header {
  background-image: url(/img/never-stop-learning-g63e2a7346_1920.jpg);
}
.skills .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills .cards .hero-card {
  position: relative;
  width: 90vw;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: 20px 0;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s;
}
.skills .cards .hero-card .hero-text {
  text-align: center;
  color: rgb(255, 255, 255);
}
.skills .cards .hero-card .hero-text h3 {
  margin: 20px auto;
  font-size: 28px;
}
.skills .cards .hero-card .hero-text p {
  margin: 20px auto;
  padding: 20px;
  font-size: 18px;
}
.skills .cards .hero-card:hover {
  transform: scale(102%);
}
.skills .cards .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.skills .cards .analysis {
  background-image: url(/img/calculator-ge0f74b410_640.jpg);
}
.skills .cards .coding {
  background-image: url(/img/coding-gad17c6425_640.jpg);
}
.skills .cards .erp {
  background-image: url(/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
}
.skills .key-words .text {
  text-align: center;
  color: black;
}
.skills .key-words .text h3 {
  margin: 20px;
  font-size: 28px;
}
.skills .key-words .text p {
  margin: 20px 20px 10px 20px;
  font-size: 18px;
}

.carrer {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.carrer .carrer-header {
  background-image: url(/img/despaired-g7200d4e94_1920.jpg);
}
.carrer .info {
  position: relative;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.carrer .info .text-box {
  width: 50%;
}
.carrer .info h2,
.carrer .info h3 {
  margin: 20px;
}
.carrer .info p {
  margin: 10px 20px;
}
.carrer .info p i {
  margin: 10px;
}
.carrer .info .img {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
.carrer .info .dino {
  background-image: url(/img/doki.jpg);
}
.carrer .info .oke {
  background-image: url(/img/-697899434-img5_196036_large.jpg);
}
.carrer .info .amcor {
  background-image: url(/img/R.jfif);
}
.carrer .info .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #09ff00;
  animation: changeBackground 5s linear infinite;
}

.hobby {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}
.hobby .hobby-header {
  background-image: url(/img/basketball-gc869ab24b_1920.jpg);
}
.hobby .wrappers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hobby .wrappers .wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 33%;
  margin: 0 20px;
  background-size: cover;
  background-position: center;
  background-color: #ff0000;
  border-radius: 20px;
  overflow: hidden;
  z-index: 20;
}
.hobby .wrappers .wrapper .wrapper-shadow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.6s;
}
.hobby .wrappers .wrapper .wrapper-text {
  text-align: center;
  margin: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.6s;
}
.hobby .wrappers .wrapper .wrapper-text h3 {
  margin: 20px;
}
.hobby .wrappers .wrapper .wrapper-text .fa-solid {
  margin: 50px;
  animation: changeColor 5s linear infinite;
}
.hobby .wrappers .fish {
  background-image: url(/img/landscape-gac9d5578f_1920.jpg);
}
.hobby .wrappers .code {
  background-image: url(/img/html-g65da77db3_1920.png);
}
.hobby .wrappers .game {
  background-image: url(/img/dice-gc5ea4a184_1920.jpg);
}
.hobby .wrapper:hover .wrapper-shadow {
  opacity: 1;
}
.hobby .wrapper:hover .wrapper-text {
  opacity: 1;
}

@media (min-width: 576px) {
  nav .mobile-nav .logo {
    font-size: 48px;
  }
  nav .mobile-nav .nav-to-section {
    font-size: 36px;
  }
  nav .mobile-nav .fa-brands {
    font-size: 36px;
  }
  nav .mobile-nav .fa-xmark {
    font-size: 56px;
  }
  nav .main-nav {
    height: 80px;
  }
  nav .main-nav .logo {
    font-size: 48px;
  }
  nav .main-nav .fa-solid {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  nav .mobile-nav .logo {
    font-size: 48px;
  }
  nav .mobile-nav .mobile-nav-to-section {
    font-size: 36px;
  }
  nav .mobile-nav .fa-brands {
    font-size: 42px;
  }
  nav .mobile-nav .fa-xmark {
    font-size: 56px;
  }
  nav .main-nav {
    height: 80px;
  }
  nav .main-nav .logo {
    font-size: 36px;
  }
  nav .main-nav .fa-solid {
    font-size: 36px;
  }
  header .left h1 {
    font-size: 36px;
  }
  header .left p {
    font-size: 28px;
  }
  header .left a {
    font-size: 42px;
  }
  header .right ul li {
    font-size: 36px;
  }
  header .right ul li span {
    font-size: 42px;
  }
  .skills .cards .hero-card .hero-text h3 {
    font-size: 36px;
  }
  .skills .cards .hero-card .hero-text p {
    font-size: 28px;
  }
  .skills .key-words .text h3 {
    font-size: 36px;
  }
  .skills .key-words .text p {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  nav .main-nav .fa-brands {
    display: block;
    font-size: 24px;
  }
  nav .main-nav .fa-solid {
    display: none;
  }
  nav .main-nav .nav-to-section {
    font-size: 20px;
    display: block;
  }
  header .left h1 {
    font-size: 64px;
  }
  header .left p {
    font-size: 42px;
  }
  header .left a {
    font-size: 64px;
  }
  header .right ul li {
    font-size: 42px;
  }
  header .right ul li span {
    font-size: 54px;
  }
}
@media (min-width: 1400px) {
  nav .main-nav .fa-brands {
    font-size: 42px;
  }
  nav .main-nav .nav-to-section {
    font-size: 36px;
  }
  .skills .cards {
    flex-direction: row;
  }
  .skills .cards .hero-card {
    width: 30vw;
    margin: 20px;
    align-self: stretch;
  }
  header .right {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */