@keyframes jump {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moving {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 90%;
    left: 15%;
  }
  50% {
    top: 50%;
    left: 75%;
  }
  75% {
    top: 5%;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: rgba(37, 102, 45, 0.6);
  z-index: 100;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.main-nav .fa-solid {
  position: absolute;
  display: block;
  right: 5%;
  top: 50%;
  transform: translate(-10%, -50%);
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.main-nav .logo {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.main-nav .logo span {
  color: aquamarine;
}
.main-nav .fa-brands {
  display: none;
  margin: 0px 20px;
  top: 50%;
  transform: translateY(-50%);
  animation: jump 2s linear infinite;
}
.main-nav .fa-github {
  position: absolute;
  right: 15%;
  color: black;
}
.main-nav .fa-codepen {
  position: absolute;
  right: 10%;
  color: white;
}
.main-nav .fa-linkedin-in {
  position: absolute;
  right: 5%;
  color: rgb(161, 187, 236);
}
.main-nav .nav-to-section {
  display: none;
  position: relative;
  margin: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-to-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.nav-to-section:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav .mobile-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: -150%;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(54, 90, 58);
  z-index: 1000;
  transition: top 0.5s;
}
nav .mobile-nav .logo {
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
nav .mobile-nav .logo span {
  color: rgb(127, 255, 212);
}
nav .mobile-nav .fa-brands {
  font-size: 24px;
  margin: 30px auto;
  animation: jump 2s linear infinite;
}
nav .mobile-nav .fa-github {
  color: black;
}
nav .mobile-nav .fa-codepen {
  color: white;
}
nav .mobile-nav .fa-linkedin-in {
  color: rgb(161, 187, 236);
}
nav .mobile-nav .mobile-nav-to-section {
  position: relative;
  margin: 30px auto;
  padding: 10px 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav .mobile-nav .fa-xmark {
  font-size: 42px;
  cursor: pointer;
  color: black;
}
nav .mobile-nav-to-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
nav .mobile-nav-to-section:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header .hero-bg {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(/img/artificial-intelligence-g36010af34_640.jpg);
  background-position: center;
  background-size: cover;
}
header .hero-bg .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
header .hero-bg .hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
}
header .hero-bg .hero-text h1 {
  margin: 20px auto;
}
header .hero-bg .hero-text h1 .logo {
  color: rgb(127, 255, 212);
}
header .hero-bg .fa-solid {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-10%, -50%);
  color: rgb(204, 216, 34);
  animation: jump 1s infinite;
  font-size: 36px;
}

.header {
  position: relative;
  width: 100vw;
  margin: 20px auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
.header .shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.header h2 {
  margin: 30px auto;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.header .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100vw;
  background-color: #fff;
}
.header .upline {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100vw;
  background-color: #fff;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
}
.skills .skills-header {
  background-image: url(/img/never-stop-learning-g63e2a7346_1920.jpg);
}
.skills .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills .cards .hero-card {
  position: relative;
  width: 90vw;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: 20px 0;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s;
}
.skills .cards .hero-card .hero-text {
  text-align: center;
  color: rgb(255, 255, 255);
}
.skills .cards .hero-card .hero-text h3 {
  margin: 20px auto;
  font-size: 28px;
}
.skills .cards .hero-card .hero-text p {
  margin: 20px auto;
  padding: 20px;
  font-size: 18px;
}
.skills .cards .hero-card:hover {
  transform: scale(102%);
}
.skills .cards .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.skills .cards .analysis {
  background-image: url(/img/calculator-ge0f74b410_640.jpg);
}
.skills .cards .coding {
  background-image: url(/img/coding-gad17c6425_640.jpg);
}
.skills .cards .erp {
  background-image: url(/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
}
.skills .key-words .text {
  text-align: center;
  color: rgb(255, 255, 255);
}
.skills .key-words .text h3 {
  margin: 20px;
  font-size: 28px;
}
.skills .key-words .text p {
  margin: 20px 20px 10px 20px;
  font-size: 18px;
}

.carrer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightgrey;
}
.carrer .carrer-header {
  background-image: url(/img/despaired-g7200d4e94_1920.jpg);
}

@media (min-width: 576px) {
  nav .mobile-nav .logo {
    font-size: 48px;
  }
  nav .mobile-nav .nav-to-section {
    font-size: 36px;
  }
  nav .mobile-nav .fa-brands {
    font-size: 36px;
  }
  nav .mobile-nav .fa-xmark {
    font-size: 56px;
  }
  nav .main-nav {
    height: 80px;
  }
  nav .main-nav .logo {
    font-size: 48px;
  }
  nav .main-nav .fa-solid {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  nav .mobile-nav .logo {
    font-size: 48px;
  }
  nav .mobile-nav .mobile-nav-to-section {
    font-size: 36px;
  }
  nav .mobile-nav .fa-brands {
    font-size: 42px;
  }
  nav .mobile-nav .fa-xmark {
    font-size: 56px;
  }
  nav .main-nav {
    height: 80px;
  }
  nav .main-nav .logo {
    font-size: 36px;
  }
  nav .main-nav .fa-solid {
    font-size: 36px;
  }
  header .hero-bg .hero-text {
    font-size: 28px;
  }
  header .hero-bg .fa-solid {
    font-size: 48px;
  }
  .skills .cards .hero-card .hero-text h3 {
    font-size: 36px;
  }
  .skills .cards .hero-card .hero-text p {
    font-size: 28px;
  }
  .skills .key-words .text h3 {
    font-size: 36px;
  }
  .skills .key-words .text p {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  nav .main-nav .fa-brands {
    display: block;
    font-size: 24px;
  }
  nav .main-nav .fa-solid {
    display: none;
  }
  nav .main-nav .nav-to-section {
    font-size: 20px;
    display: block;
  }
  header .hero-bg .hero-text {
    font-size: 36px;
  }
  header .hero-bg .fa-solid {
    font-size: 56px;
  }
}
@media (min-width: 1400px) {
  nav .main-nav .fa-brands {
    font-size: 42px;
  }
  nav .main-nav .nav-to-section {
    font-size: 36px;
  }
  .skills .cards {
    flex-direction: row;
  }
  .skills .cards .hero-card {
    width: 30vw;
    margin: 20px;
    align-self: stretch;
  }
}/*# sourceMappingURL=style.css.map */