@keyframes jump {
	0% {
		transform: translateY(-50%);
	}

	50% {
		transform: translateY(-70%);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes moving {
	0% {
		top: 0;
		left: 0;
	}

	25% {
		top: 90%;
		left: 15%;
	}

	50% {
		top: 50%;
		left: 75%;
	}

	75% {
		top: 5%;
		left: 50%;
	}

	100% {
		top: 0;
		left: 0;
	}
}
