@use '../sass/colors.scss' as color;
@import 'animate';
@import 'reset';

body {
	font-family: 'Roboto', sans-serif;
}

//-----NAV-----

.main-nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 70px;
	background-color: rgba(5, 5, 5, 0.6);
	z-index: 100;
	backdrop-filter: blur(6px);
	.fa-solid {
		position: absolute;
		display: block;
		right: 5%;
		top: 50%;
		transform: translate(-10%, -50%);
		font-size: 40px;
		color: white;
		cursor: pointer;
	}
	.logo {
		position: absolute;
		left: 5%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
		color: color.$text-color;
		cursor: pointer;
		span {
			color: black;
			animation: changeColor 5s linear infinite;
		}
	}
	.fa-brands {
		display: none;
		margin: 0px 20px;
		top: 50%;
		transform: translateY(-50%);
		animation: jump 2s linear infinite;
	}
	.fa-github {
		position: absolute;
		right: 15%;
		color: black;
	}
	.fa-codepen {
		position: absolute;
		right: 10%;
		color: white;
	}
	.fa-linkedin-in {
		position: absolute;
		right: 5%;
		color: rgb(161, 187, 236);
	}
	.nav-to-section {
		display: none;
		position: relative;
		margin: 20px;
		text-decoration: none;
		color: color.$text-color;
	}
}

.nav-to-section::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

.nav-to-section:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

//----MOBILENAV-----
nav {
	.mobile-nav {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: 0;
		right: 0;
		transform: translateX(100%);
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(8px);
		z-index: 1000;
		transition: transform 0.5s;
		.logo {
			position: absolute;
			top: 5%;
			transform: translateY(-50%);
			font-size: 24px;
			color: color.$text-color;
			cursor: pointer;
			span {
				color: color.$text-color;
				animation: changeColor 5s linear infinite;
			}
		}
		.fa-brands {
			font-size: 24px;
			margin: 30px auto;
			animation: jump 2s linear infinite;
		}
		.fa-github {
			color: black;
		}
		.fa-codepen {
			color: white;
		}
		.fa-linkedin-in {
			color: rgb(161, 187, 236);
		}
		.mobile-nav-to-section {
			position: relative;
			margin: 30px auto;
			padding: 10px 10px;
			text-decoration: none;
			color: color.$text-color;
		}
		
		.fa-xmark {
			font-size: 42px;
			cursor: pointer;
			color: black;
		}
	}
	.nav-active {
		transform: translateX(0);
	}
	
	.mobile-nav-to-section::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: #fff;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
	}
	
	.mobile-nav-to-section:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}

//-----HEADER-----
header {
	position: relative;
	height: 100vh;
	.left {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		width: 50vw;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		h1 {
			margin: 20px;
			text-align: center;
			span {
				animation: changeColor 5s linear infinite;
			}
		}
		p {
			margin: 20px;
			font-size: 18px;
		}
		a {
			margin-top: 200px;
			animation: jump 2s linear infinite;
			font-size: 36px;
			color: black;
			cursor: pointer;
		}
	}
	.right {
		position: absolute;
		height: 100%;
		width: 50vw;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-image: url(/img/hd-wallpaper-gf16d1696e_640.jpg);
		background-size: cover;
		background-position: center;
		ul {
			margin: 20px;
			list-style: none;
		}
		li {
			span {
				font-weight: 700;
				font-size: 22px;
			}
			font-size: 18px;
		}
		.a {
			align-self: flex-end;
		}

		.b {
			align-self: center;
		}

		.c {
			align-self: flex-start;
		}
	}
}
//-----HEADING-----
.header {
	position: relative;
	width: 100vw;
	margin: 20px auto;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
	.shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}
	h2 {
		margin: 30px auto;
		text-align: center;
		color: color.$text-color;
		z-index: 1;
		animation: changeColor 5s linear infinite;
	}
	.underline {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100vw;
		background-color: #ff0000;
	}
	.upline {
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		width: 100vw;
		background-color: #09ff00;
	}
}
// ----SKILLS----
.skills {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	.skills-header {
		background-image: url(/img/never-stop-learning-g63e2a7346_1920.jpg);
	}

	.cards {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.hero-card {
			position: relative;
			width: 90vw;
			background-position: center;
			background-size: cover;
			border-radius: 20px;
			margin: 20px 0;
			overflow: hidden;
			z-index: 1;
			transition: transform 0.3s;
			.hero-text {
				text-align: center;
				color: color.$text-color;
				h3 {
					margin: 20px auto;
					font-size: 28px;
				}
				p {
					margin: 20px auto;
					padding: 20px;
					font-size: 18px;
				}
			}
		}

		.hero-card:hover {
			transform: scale(102%);
		}

		.hero-shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -1;
		}

		.analysis {
			background-image: url(/img/calculator-ge0f74b410_640.jpg);
		}

		.coding {
			background-image: url(/img/coding-gad17c6425_640.jpg);
		}

		.erp {
			background-image: url(/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
		}
	}

	.key-words {
		.text {
			text-align: center;
			color: black;
			h3 {
				margin: 20px;
				font-size: 28px;
			}
			p {
				margin: 20px 20px 10px 20px;
				font-size: 18px;
			}
		}
	}
}
//----CARRER----
.carrer {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	.carrer-header {
		background-image: url(/img/despaired-g7200d4e94_1920.jpg);
	}

	.info {
		position: relative;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		.text-box {
			width: 50%;
		}
		h2,
		h3 {
			margin: 20px;
		}
		p {
			margin: 10px 20px;
			i {
				margin: 10px;
			}
		}

		.img {
			position: absolute;
			height: 100%;
			width: 50%;
			left: 50%;
			bottom: 0;
			background-size: cover;
			background-position: center;
		}

		.dino {
			background-image: url(/img/doki.jpg);
		}

		.oke {
			background-image: url(/img/-697899434-img5_196036_large.jpg);
		}

		.amcor {
			background-image: url(/img/R.jfif);
		}
		.underline {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #09ff00;
			animation: changeBackground 5s linear infinite;
		}
	}
}

//-----HOBBY-----

.hobby {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	.hobby-header {
		background-image: url(/img/basketball-gc869ab24b_1920.jpg);
	}


	.wrappers {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		.wrapper {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			height: 50vh;
			width: 33%;
			margin: 0 20px;
			background-size: cover;
			background-position: center;
			background-color: #ff0000;
			border-radius: 20px;
			overflow: hidden;
			z-index: 20;

			
			.wrapper-shadow {
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.6);
				height: 100%;
				width: 100%;
				z-index: -1;
				opacity: 0;
				transition: opacity 0.6s;
				
			}
			.wrapper-text {
				text-align: center;
				margin: 20px;
				color: white;
				opacity: 0;
				transition: opacity 0.6s;
				h3 {
					margin: 20px;
				}

				.fa-solid {
					margin: 50px;
					animation: changeColor 5s linear infinite;
				}


			}

		}

		.fish {
			background-image: url(/img/landscape-gac9d5578f_1920.jpg);
			
		}

		.code {
			background-image: url(/img/html-g65da77db3_1920.png);
			
		}

		.game {
			background-image: url(/img/dice-gc5ea4a184_1920.jpg);
			
		}
	}

	
	.wrapper:hover .wrapper-shadow {
		opacity: 1;
	}
	.wrapper:hover .wrapper-text {
		opacity: 1;
	}


}

//-----RESPONSIVE-----

@media (min-width: 576px) {
	nav {
		.mobile-nav {
			.logo {
				font-size: 48px;
			}
			.nav-to-section {
				font-size: 36px;
			}

			.fa-brands {
				font-size: 36px;
			}

			.fa-xmark {
				font-size: 56px;
			}
		}
		.main-nav {
			height: 80px;
			.logo {
				font-size: 48px;
			}
			.fa-solid {
				font-size: 48px;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		.mobile-nav {
			.logo {
				font-size: 48px;
			}
			.mobile-nav-to-section {
				font-size: 36px;
			}

			.fa-brands {
				font-size: 42px;
			}

			.fa-xmark {
				font-size: 56px;
			}
		}
		.main-nav {
			height: 80px;
			.logo {
				font-size: 36px;
			}
			.fa-solid {
				font-size: 36px;
			}
		}
	}

	header {
		.left {
			h1 {
				font-size: 36px;
			}
			p {
				font-size: 28px;
			}
			a {
				font-size: 42px;
			}
		}

		.right {
			ul {
				li {
					font-size: 36px;
					span {
						font-size: 42px;
					}
				}
			}
		}
	}

	.skills {
		.cards {
			.hero-card {
				.hero-text {
					h3 {
						font-size: 36px;
					}
					p {
						font-size: 28px;
					}
				}
			}
		}
		.key-words {
			.text {
				h3 {
					font-size: 36px;
				}
				p {
					font-size: 28px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	nav {
		.main-nav {
			.fa-brands {
				display: block;
				font-size: 24px;
			}
			.fa-solid {
				display: none;
			}
			.nav-to-section {
				font-size: 20px;
				display: block;
			}
		}
	}

	header {
		.left {
			h1 {
				font-size: 64px;
			}
			p {
				font-size: 42px;
			}
			a {
				font-size: 64px;
			}
		}

		.right {
			ul {
				li {
					font-size: 42px;
					span {
						font-size: 54px;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
	nav {
		.main-nav {
			.fa-brands {
				font-size: 42px;
			}
			.nav-to-section {
				font-size: 36px;
			}
		}
	}
	.skills {
		.cards {
			flex-direction: row;
			.hero-card {
				width: 30vw;
				margin: 20px;
				align-self: stretch;
			}
		}
	}
	header {
		.right {
			flex-direction: row;
		}
	}
}
