@use '../sass/colors.scss' as color;
@import 'animate';
@import 'reset';

body {
	font-family: 'Roboto', sans-serif;
}

//-----NAV-----

.main-nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 70px;
	background-color: rgba(37, 102, 45, 0.6);
	z-index: 100;
	backdrop-filter: blur(6px);
	.fa-solid {
		position: absolute;
		display: block;
		right: 5%;
		top: 50%;
		transform: translate(-10%, -50%);
		font-size: 40px;
		color: white;
		cursor: pointer;
	}
	.logo {
		position: absolute;
		left: 5%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 24px;
		color: color.$text-color;
		cursor: pointer;
		span {
			color: aquamarine;
		}
	}
	.fa-brands {
		display: none;
		margin: 0px 20px;
		top: 50%;
		transform: translateY(-50%);
		animation: jump 2s linear infinite;
	}
	.fa-github {
		position: absolute;
		right: 15%;
		color: black;
	}
	.fa-codepen {
		position: absolute;
		right: 10%;
		color: white;
	}
	.fa-linkedin-in {
		position: absolute;
		right: 5%;
		color: rgb(161, 187, 236);
	}
	.nav-to-section {
		display: none;
		position: relative;
		margin: 20px;
		text-decoration: none;
		color: color.$text-color;
	}
}

.nav-to-section::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

.nav-to-section:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

//----MOBILENAV-----

nav {
	.mobile-nav {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: -150%;
		right: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgb(54, 90, 58);
		z-index: 1000;
		transition: top 0.5s;
		.logo {
			position: absolute;
			top: 5%;
			transform: translateY(-50%);
			font-size: 24px;
			color: color.$text-color;
			cursor: pointer;
			span {
				color: color.$logo-color;
			}
		}
		.fa-brands {
			font-size: 24px;
			margin: 30px auto;
			animation: jump 2s linear infinite;
		}
		.fa-github {
			color: black;
		}
		.fa-codepen {
			color: white;
		}
		.fa-linkedin-in {
			color: rgb(161, 187, 236);
		}
		.mobile-nav-to-section {
			position: relative;
			margin: 30px auto;
			padding: 10px 10px;
			text-decoration: none;
			color: color.$text-color;
		}

		.fa-xmark {
			font-size: 42px;
			cursor: pointer;
			color: black;
		}
	}

	.mobile-nav-to-section::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: #fff;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
	}

	.mobile-nav-to-section:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}

//-----HEADER-----
header {
	.hero-bg {
		position: relative;
		height: 100vh;
		width: 100vw;
		background-image: url(/img/artificial-intelligence-g36010af34_640.jpg);
		background-position: center;
		background-size: cover;

		.hero-shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			backdrop-filter: blur(6px);
		}

		.hero-text {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -30%);
			color: color.$text-color;
			text-align: center;
			font-size: 18px;
			h1 {
				margin: 20px auto;
				.logo {
					color: color.$logo-color;
				}
			}
		}

		.fa-solid {
			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translate(-10%, -50%);
			color: color.$cta-color;
			animation: jump 1s infinite;
			font-size: 36px;
		}
	}
}

//-----HEADING-----
.header {
	position: relative;
	width: 100vw;
	margin: 20px auto;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
	.shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}
	h2 {
		margin: 30px auto;
		text-align: center;
		color: color.$text-color;
		z-index: 1;
	}
	.underline {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100vw;
		background-color: #fff;
	}
	.upline {
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		width: 100vw;
		background-color: #fff;
	}
}
// ----SKILLS----
.skills {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: grey;
	.skills-header {
		background-image: url(/img/never-stop-learning-g63e2a7346_1920.jpg);
	}

	.cards {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.hero-card {
			position: relative;
			width: 90vw;
			background-position: center;
			background-size: cover;
			border-radius: 20px;
			margin: 20px 0;
			overflow: hidden;
			z-index: 1;
			transition: transform 0.3s;
			.hero-text {
				text-align: center;
				color: color.$text-color;
				h3 {
					margin: 20px auto;
					font-size: 28px;
				}
				p {
					margin: 20px auto;
					padding: 20px;
					font-size: 18px;
				}
			}
		}

		.hero-card:hover {
			transform: scale(102%);
		}

		.hero-shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -1;
		}

		.analysis {
			background-image: url(/img/calculator-ge0f74b410_640.jpg);
		}

		.coding {
			background-image: url(/img/coding-gad17c6425_640.jpg);
		}

		.erp {
			background-image: url(/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
		}
	}

	.key-words {
		.text {
			text-align: center;
			color: color.$text-color;
			h3 {
				margin: 20px;
				font-size: 28px;
			}
			p {
				margin: 20px 20px 10px 20px;
				font-size: 18px;
			}
		}
	}
}

.carrer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: lightgrey;
	.carrer-header {
		background-image: url(/img/despaired-g7200d4e94_1920.jpg);
	}
}

//-----RESPONSIVE-----

@media (min-width: 576px) {
	nav {
		.mobile-nav {
			.logo {
				font-size: 48px;
			}
			.nav-to-section {
				font-size: 36px;
			}

			.fa-brands {
				font-size: 36px;
			}

			.fa-xmark {
				font-size: 56px;
			}
		}
		.main-nav {
			height: 80px;
			.logo {
				font-size: 48px;
			}
			.fa-solid {
				font-size: 48px;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		.mobile-nav {
			.logo {
				font-size: 48px;
			}
			.mobile-nav-to-section {
				font-size: 36px;
			}

			.fa-brands {
				font-size: 42px;
			}

			.fa-xmark {
				font-size: 56px;
			}
		}
		.main-nav {
			height: 80px;
			.logo {
				font-size: 36px;
			}
			.fa-solid {
				font-size: 36px;
			}
		}
	}

	header {
		.hero-bg {
			.hero-text {
				font-size: 28px;
			}
			.fa-solid {
				font-size: 48px;
			}
		}
	}

	.skills {
		.cards {
			.hero-card {
				.hero-text {
					h3 {
						font-size: 36px;
					}
					p {
						font-size: 28px;
					}
				}
			}
		}
		.key-words {
			.text {
				h3 {
					font-size: 36px;
				}
				p {
					font-size: 28px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	nav {
		.main-nav {
			.fa-brands {
				display: block;
				font-size: 24px;
			}
			.fa-solid {
				display: none;
			}
			.nav-to-section {
				font-size: 20px;
				display: block;
			}
		}
	}

	header {
		.hero-bg {
			.hero-text {
				font-size: 36px;
			}
			.fa-solid {
				font-size: 56px;
			}
		}
	}
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
	nav {
		.main-nav {
			.fa-brands {
				font-size: 42px;
			}
			.nav-to-section {
				font-size: 36px;
			}
		}
	}
	.skills {
		.cards {
			flex-direction: row;
			.hero-card {
				width: 30vw;
				margin: 20px;
				align-self: stretch;
			}
		}
	}
}
